@import "../../../assets/sass/_variables.scss";

.navbarContainer {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}

.hide {
  transform: translateY(-100%);
}

.show {
  transform: translateY(0);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family-poppins;
  background-color: rgba(255, 255, 255, 0.3);
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 40%;
  max-width: 1100px;
  padding: 10px 15px;
  border-radius: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

  &_links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    font-family: $font-family-poppins;
  }

  &_links li a {
    color: #fff; // White text for links
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-family: $font-family-poppins;
    font-weight: 600;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 16px;
    position: relative;

    &.active::after {
      // Underline for active links
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: #ff00ff; // Same color as hover
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: #9800cf; // White underline for non-active
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.3s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.hamburger {
  width: 30px;
  height: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000;
  visibility: hidden;

  span {
    display: block;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
  }

  &.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  &.open span:nth-child(2) {
    opacity: 0;
  }

  &.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}

@media (max-width: 950px) {
  // Styles for small mobile devices
  .hamburger {
    visibility: visible;
  }

  .navbar {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    margin: 0;
    top: 0;
    background: #000;
    left: 0;
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
  }

  .open {
    transform: translateY(0);
  }

  .navbar_links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar_links li {
    margin: 20px;
  }

  .navbar_links li a {
    font-size: 26px;
  }

}

@media (min-width: 950px) and (max-width: 1450px) {

  .navbar {
    width: 60%;
    transition: transform 0.4s ease-in-out;
  }
 
}
