@import "../../assets/sass/variables";

.service_wrapper {
  position: relative;
  background-color: $color-dark;
  padding: 50px;
  border-radius: 10px;
  // filter: blur(1.2rem);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.service_wrapper::after {
  content: "";
  position: absolute;
  height: 102%;
  width: 102%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 10px;
  border-radius: 10px;
  filter: blur(0.5rem);
  animation: 3s spin linear infinite;
  background-image: conic-gradient(
    from var(--angle),
    transparent,
    80%,
    #6a0dad,
    #d63384,
    #ff00ff,
    #6a0dad
  );
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

// .heading {
//   position: relative;
//   display: inline-flex;
//   color: $color-dark;
//   font-size: 5.5rem;
//   font-weight: bold;
//   display: inline-flex;
//   width: fit-content;
//   -webkit-text-stroke: 0.1vw #f000f0;
//   //   color: #d946ef;
// }

// .heading::before {
//   content: attr(data-text);
//   position: absolute;
//   // padding: 10px;
//   display: inline-flex;
//   width: fit-content;
//   top: 0;
//   left: 0;
//   width: 0;
//   height: 100%;
//   color: #e700e7;
//   -webkit-text-stroke: 0vw $color-dark;
//   border-right: 1px solid #ff00ff;
//   overflow: hidden;
//   animation: animate 6s linear infinite;
// }

// @keyframes animate {
//   0%,
//   10%,
//   100% {
//     width: 0;
//   }
//   70%,
//   90% {
//     width: 110%;
//   }
// }

.heading {
  position: relative;
  color: $color-dark;
  font-size: 5.5rem;
  font-weight: bold;
  -webkit-text-stroke: 0.1vw #f000f0;
  overflow: hidden;
  white-space: nowrap;
}

.heading::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #e700e7;
  width: 0;
  overflow: hidden;
  -webkit-text-stroke: 0vw $color-dark;
  animation: smooth-fill 6s ease forwards infinite;
}

@keyframes smooth-fill {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
