

.book{
  width: 360px;
  height: 400px;
  background: white;
  border-top: 3px solid #333;
  border-right: 3px solid #333;
  box-shadow: 
  inset 280px 0 50px #0005, /* First shadow (inset) */
  0 20px 100px rgb(127, 15, 201);       /* Second shadow (regular) */
  transform-style: preserve-3d;
  transform: perspective(1500px);
  transition: 1s;
  border-radius: 15px;
}


.book:hover {
  transform: rotate(-10deg) skew(-10deg);
  box-shadow: 
  inset 280px 0 50px #0005, /* First shadow (inset) */
  0 10px 50px rgb(127, 15, 201);   
}

.book img {
  max-width: 360px;
  width: 100%;
  height: 100%;
  display: block;
  transform-origin:left ;
  transition: transform 1s linear;
  border-radius: 10px;
}

.book:hover img {
  transform: rotateY(-160deg);

}

.book h1 {
  position: absolute;
  font-size: larger;
  font-weight: bold;
  top: 10px;
  left: 0;
  z-index: -1;
  padding: 20px;
}
.book p {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: -1;
  padding: 20px;
}