@import "./assets/sass/_variables.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-poppins;
  font-weight: $inter-regular;
  overflow-x: hidden;
  // height: 100vh;
  background-color: $color-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-poppins;
}

hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, #e5e7eb, transparent);
}

.line_break {
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, #7407b3, transparent);
}

.swiper-pagination {
  bottom: -10px !important;
}

.swiper-pagination-bullet {
  background-color: #bf4fff !important;
  padding: 7px;
}
.swiper-pagination-bullet-active {
  background-color: #a237e0 !important;
  padding: 7px 15px;
  border-radius: 20px;
}

.swiper-pagination {
  padding: 10px;
}

.glow-text {
  animation: neon6 2s ease-in-out infinite alternate;
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #228dff,
      0 0 60px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
      0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}

@keyframes neon6 {
  from {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00de,
      0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 60px #ff00de, 0 0 70px #ff00de;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 6px #fff, 0 0 10px #fff, 0 0 15px #ff00de,
      0 0 20px #ff00de, 0 0 25px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
}


